<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Journal Entry</title>
</head>
<body>
	
	<h2>Edit Journal Entry</h2>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<p>{{ message }}</p>
			{% endfor %}			
		{% endif %}
	{% endwith %}	
	
	<form method="POST">
		<input type="text" name="title" value='{{ journal_entry.title }}' required>
		<br/><br/>
		<textarea name="content" placeholder="Write your thoughts" required>{{ journal_entry.content }}</textarea>
		<br/><br/>
		<input type="number" name="mood_score" placeholder="Mood (1-10)" value={{ journal_entry.mood_score }} required>
		<br/><br/>
		<button type="submit">Edit Entry</button>
	</form>

</body>
</html>