{% extends 'auth_base.html' %}

{% block title %}Create account{% endblock %}
{% block subtitle %}Start journaling, tracking habits, and reflecting with intention.{% endblock %}

<!-- Page CSS -->
{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/auth_pages.css') }}">
{% endblock %}

{% block content %}
<form method="POST" class="auth-form">

    <div class="input-group">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" placeholder="Enter your email" required>
    </div>

    <div class="input-group">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Create a password" required>
    </div>

    <button type="submit" class="btn-primary">Signup</button>
</form>

<p class="auth-switch">
    Already have an account?
    <a href="{{ url_for('auth.login') }}">Login</a>
</p>
{% endblock %}